* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lawngreen;
}

.container1 {
  width: 400px;
  height: 300px;
  background-color: rgb(141, 31, 19);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.container2 {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  padding: 9px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: black;
}

.btn:active {
  transform: scale(1.1);
}

.container3 {
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container4 {
  background-color: rgb(206, 146, 35);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5px;
  position: relative;
}

p {
  text-align: center;
  color: white;
}

#submit {
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
}

#submit:hover {
  background-color: white;
  color: black;
}

#submit:active {
  transform: scale(1.01);
}
